.banner-section {
  background-image: url("../../Images/banner\ bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.banner {
  padding: 190px 5px 5px 25px;
}
.banner p {
  margin: 0;
  font-size: 26px;
  color: rgb(34, 54, 69);
}
.banner h1 {
  font-size: 46px;
  font-weight: 900;
  padding: 50px 5px 5px 25px;
  padding: 0;
  letter-spacing: 5px;
}
.banner-description p {
  width: 50%;
  font-size: 18px;
  color: gray;
  padding-top: 50px;
}
.corona-update-section {
  background-color: #606ba2;
  margin-top: -16px;
}
.corona-update {
  padding: 25px 10px;
}

/* media query for mobile device  */

@media only screen and (max-width: 768px) {
  .banner-section {
    width: 100%;
    height: 193px;
  }
  .banner {
    padding: 20px 5px 5px 10px;
  }
  .banner h1 {
    font-size: 20px;
    font-weight: 900;
    padding: 50px 5px 5px 25px;
    padding: 0;
    letter-spacing: 1px;
  }
  .banner p {
    margin: 0;
    font-size: 15px;
    color: rgb(34, 54, 69);
  }
  .banner-description p {
    width: 80%;
    font-size: 13px;
    color: gray;
    padding-top: 5px;
  }
  .covid-info-title {
    font-size: 12px;
    text-align: center;
  }
  .covid-19-btn-section {
    text-align: center !important;
    margin-top: 5px;
  }
}
